<% layout('./layouts/boilerplate') -%>

    <section class="signUp">
        <form action="/user?_method=PUT" method="POST" class="contact__form">

            <% const address=user.address[0] %>

                <input type="text" class="contact__form-input" id="firstName" name="firstName" placeholder="First Name"
                    value="<%= user.firstName %>" required>
                <input type="text" class="contact__form-input" id="lastName" name="lastName" placeholder="Last Name"
                    value="<%= user.lastName %>" required>

                <input type="text" placeholder="Address" id="location-input" class="contact__form-input"
                    name="address[lineOne]" value="<%= address.lineOne %>" required />
                <input type="text" placeholder="Apt, Suite, etc (optional)" class="contact__form-input"
                    name="address[lineTwo]" value="<%= address.lineTwo %>" />
                <input type="text" placeholder="City" id="administrative_area_level_2-input" class="contact__form-input"
                    name="address[city]" value="<%= address.city %>" required />
                <input type="text" placeholder="Zip/Postal code" id="postal_code-input" class="contact__form-input"
                    name="address[postcode]" value="<%= address.postcode %>" required />
                <input type="text" placeholder="Country" id="country-input" class="contact__form-input"
                    name="address[country]" value="<%= address.country %>" required />


                <input type="email" class="contact__form-input" id="email" name="email" placeholder="E-Mail"
                    value="<%= user.email %>" required>

                <button class="btn btn-form">submit</button>
        </form>
        <script>
            function initMap() {
                // No need to do anything here, as we are not using the map visualization.
            }
        </script>
        <script src="/js/autocomplete.js"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC95BNQipbyXPPNGs_wmFPMgzD7ihzLGaY&libraries=places&callback=initMap&solution_channel=GMP_QB_addressselection_v1_cA"
            async defer></script>
        </body>



        </html>