<% layout('./layouts/boilerplate') -%>
    <% product=product[0] %>
        <section class="product-edit">
            <form action="/products/edit/<%= product.name %>?_method=PATCH" method="POST" class="contact__form">



                <input type="text" class="contact__form-input" id="name" name="product[name]" placeholder="Product name"
                    value="<%= product.name %>" required>

                <input type="text" class="contact__form-input" id="image" name="product[image]" placeholder="Image Url"
                value="<%= product.image %>"   required>

                <input type="number" class="contact__form-input" id="price" name="product[price]" placeholder="Price"
                value="<%= product.price %>"  required>

                <input type="number" class="contact__form-input" id="qty" name="product[qty]" placeholder="Quantity"
                value="<%= product.qty %>"   required>


                <label for="notes" class="contact__form-label" style="display: block;">Notes</label>
                <input type="string" class="contact__form-input" id="note" name="product[notesOne]" placeholder="Note"
                value="<%= product.notesOne %>"   required>
                <input type="string" class="contact__form-input" id="note" name="product[notesTwo]" placeholder="Note"
                value="<%= product.notesTwo %>"  required>
                <input type="string" class="contact__form-input" id="note" name="product[notesThree]"
                value="<%= product.notesThree %>"  placeholder="Note">


                <textarea type="text" class="contact__form-input" id="description" name="product[description]"
                  placeholder="add a description" required><%= product.description %></textarea>

                <button class="btn btn-form">submit</button>
            </form>
        </section>