<% layout('./layouts/boilerplate') -%>


    <section class="show">
        <% products.forEach(function(product) { %>

            <div class="card">
                <div class="card-header">

                    <img src="<%= product.image %>" alt="" class="card-img u-mb-lrg">
                    <a href="/products/<%= product.name %>" class=" link">
                        <div class="card-title">
                            <%= product.name %>
                        </div>
                    </a>
                </div>
                <div class="card-body">
                    <div class="card-item">£<%= product.price %>
                    </div>
                    <div class="card-item">
                        <% if( product.qty < 5){ %>
                            <%= product.qty %> left in stock
                                <% } %>
                    </div>
                    <div class="card-item card-text">
                        Notes: blah blah blah <br>
                        suitable for: blah blah blah <br>
                        blah: blah blah blah
                    </div>
                </div>
            </div>

            <% }); %>
                <% if(currentUser && currentUser.username === 'soulnotesboss@gmail.com'){ %>
                    <div class="admin">
                        <button class="btn btn-primary"><a href="/products/new" class="link">add product</a> </button>

                    </div>
                    <% } %>
    </section>
    <%- include('../../partials/shipping') %>